/*Estilo de body home*/

.main-conteiner{
        background-image: url(Imagen/Ingresos.png);
        opacity: 0.8;
        height: 100vh;
        background-size: cover;
        width: 100%;
    .asesorate{
        font-size: 30px;
        font-style: inherit;
        text-align: center;
        color: rgb(252, 249, 198);
        font-weight: bold;
        padding-top: 100px;
    .img-what{
        width: 80px;
        position: fixed;
        bottom: 30px;
        right: 20px;
    .parrafo-uno{
        font-size: 50px;
        font-style: inherit;
        text-align: center;
        color: rgb(252, 249, 198);
        font-weight: bold;
        padding-top: 150px
    }
   }
  }
}