/* Mediaquery*/
/*body del index*/
@media only screen and (max-width: 450px){
    .main-conteiner{
        .fondo{
           width: 100%;
        }
        .contenido{
            .parrafo-uno{
                 font-size: 20px;
            }
            .asesorate{
                width: 50%;
                 font-size: 13px;
            }
        }
        .img-what{
                width: 50px;
            }
        .descripcion{
           font-size: 8px;
        }
        .info p{
           font-size: 5px;
        }
    }
}

@media only screen and (min-width: 451px) and (max-width: 960px){
    .main-conteiner{
        .fondo{
           width: 100%;
        }
        .contenido{
            .parrafo-uno{
                 font-size: 25px;
            }
            .asesorate{
                width: 60%;
                 font-size: 15px;
            }
        }
        .img-what{
            width: 60px;
            bottom: 20px;
            right: 10px;
            }
        .descripcion{
           font-size: 12px;
        }
        .info p{
           font-size: 8px;
        }
    }
}

/*Body Lotes*/

@media only screen and (max-width: 450px){
    main{
        .sect1{
            .p-lote{
                font-size: 18px;
            }
            .p-lote1{
                font-size: 15px;
            }
            .p-lote2{
                font-size: 15px;
            }
        }
        .descripcion-lote{
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;

            .detalle{
                .info{
                    font-size: 13px;
                }
            }
            .imglotes{
                align-items: center;
                padding-left: 100px;
                width: 450px;

            }
        }
        .sect3{
            .p-4{
                font-size: 18px;
            }
            .mapa{
                height: 200px;
                width: 350px;
            }
        }
        .sect4{
            .p-5{
                font-size: 20px;
            }
        }

    }
}

@media only screen and (min-width: 451px) and (max-width: 960px){
    main{
        .sect1{
            .p-lote{
                font-size: 22px;
            }
            .p-lote1{
                font-size: 18px;
            }
            .p-lote2{
                font-size: 18px;
            }
        }
        .descripcion-lote{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 40px;
                align-items: center;
            .detalle{
                .info{
                    font-size: 18px;
                }
            }
            .imglotes{
                width: 100%;
            }
        }
        .sect3{
            .p-4{
                font-size: 22px;
            }
            .mapa{
                height: 250px;
                width: 300px;
            }
        }
        .sect4{
            .p-5{
                font-size: 25px;
            }
        }
    }
}

/*Body Amenities*/
@media only screen and (max-width: 450px){
    .main1{
        .amenities0{
            .p-amenities{
                font-size: 25px;
            }
        }
        .section-amenities{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 250px;
            .gimnasio{
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
            }
            .pileta{
                h2{
                    font-size:20px ;
                }
                p{
                    font-size:15px ;
                }
            }
            .seguridad{
                h2{
                    font-size:20px ;
                }
                p{
                    font-size:15px ;
                }
            }
            .campo{
                h2{
                    font-size:20px ;
                }
                p{
                    font-size:15px ;
                }
            }
            .panel{
                h2{
                    font-size:20px ;
                }
                p{
                    font-size:15px ;
                }
            }
            .espacios{
                h2{
                    font-size:20px ;
                }
                p{
                    font-size:15px ;
                }
            }
        }
    }
}
@media only screen and (min-width: 451px) and (max-width: 960px){
    .main1{
        .amenities0{
            .p-amenities{
                font-size: 30px;
            }
        }
        .section-amenities{
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-auto-rows: 300px;
            .gimnasio{
                h2{
                    font-size: 25px;
                }
                p{
                    font-size: 20px;
                }
            }
            .pileta{
                h2{
                    font-size:25px ;
                }
                p{
                    font-size:20px ;
                }
            }
            .seguridad{
                h2{
                    font-size:25px ;
                }
                p{
                    font-size:20px ;
                }
            }
            .campo{
                h2{
                    font-size:25px ;
                }
                p{
                    font-size:20px ;
                }
            }
            .panel{
                h2{
                    font-size:25px ;
                }
                p{
                    font-size:20px ;
                }
            }
            .espacios{
                h2{
                    font-size:25px ;
                }
                p{
                    font-size:20px ;
                }
            }
        }
    }
}

/*Body Galeria*/
@media only screen and (max-width: 450px){
    main{
       .sect-galeria0{
            .p-galeria{
                font-size: 20px;
           }
        }
        .sect-galeria1{
            .img-galeria{
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: 250px;
            }
        }
    }
}
@media only screen and (min-width: 451px) and (max-width: 960px){
    main{
        .sect-galeria0{
             .p-galeria{
                 font-size: 25px;
            }
        }
         .sect-galeria1{
             .img-galeria{
                display: grid;
                grid-template-columns:repeat(2, 1fr);
                grid-auto-rows: 200px;
            }
        }
    }
}

/*Contato*/
@media only screen and (max-width: 450px){
    main{
        .sect-contacto0{
            .p-contacto{
                font-size: 18px;
            }
        }
        .sect-contacto1{
            .p2-contacto{
                font-size: 15px;
            }
            .p-contacto3{
                font-size: 16px;

            }
        }
    }
}

@media only screen and (min-width: 451px) and (max-width: 960px){
    main{
        .sect-contacto0{
            .p-contacto{
                font-size: 25px;
            }
        }
        .sect-contacto1{
            .p2-contacto{
                font-size: 18px;
            }
            .p-contacto3{
                font-size: 18px;

            }
        }
    }
}
/*Fotter*/

@media only screen and (max-width: 450px){
    footer{
        .descrip-1{
            .descripcion{
                p{
                    font-size: 14px ;
                }
            }
            .redes{
                .instagram{
                    height: 30px;
                }
                .facebook{
                    height: 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 451px) and (max-width: 960px){
    footer{
        .descrip-1{
            .descripcion{
                p{
                    font-size: 17px ;
                }
            }
            .redes{
                .instagram{
                    height: 40px;
                }
                .facebook{
                    height: 40px;
                }
            }
        }
    }
}