/*Estilo del header*/
.header .background-nav {
  background-color: rgb(177, 215, 180);
  color: rgb(255, 192, 144);
  font-size: 30px;
  font-style: unset;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
}
.header .background-nav .img-logo {
  width: 100px;
}
.header .background-nav .conf-nav a:hover {
  color: rgb(28, 103, 88);
  transform: scale(1.2);
  transition: all 2s;
}

/*Estilo del Footer*/
footer .info-empresa .email, footer .info-empresa .cel, footer .info-empresa .ubicacion {
  display: flex;
  flex-direction: row;
}

footer .info-empresa .email p, footer .info-empresa .ubicacion p, footer .info-empresa .info {
  color: rgb(238, 242, 230);
  font-size: 12px;
  font-style: unset;
}

footer .info-empresa .email img, footer .info-empresa .cel img, footer .info-empresa .ubicacion img {
  height: 20px;
  width: 20px;
}

footer {
  background-color: rgb(22, 33, 62);
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 200px;
}
footer .descrip-1 .descripcion {
  font-size: 20px;
  color: rgb(238, 242, 230);
  font-style: unset;
  margin-top: 15px;
  padding-left: 10px;
}
footer .descrip-1 .redes {
  padding: 10px;
}
footer .descrip-1 .redes .instagram {
  height: 50px;
}
footer .descrip-1 .redes .facebook {
  height: 50px;
}
footer .info-empresa {
  padding: 20px;
}
footer .info-empresa .cel a {
  text-decoration: none;
  color: rgb(238, 242, 230);
}
footer .info-empresa .email a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

/*Estilo de todos los bodys menos Index*/
body {
  background-color: aliceblue;
}
@media only screen and (max-width: 450px) {
  body {
    width: 100%;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  body {
    width: 100%;
  }
}

/*Estilo de los H1*/
h1 {
  font-size: 40px;
  font-style: inherit;
  color: rgb(15, 52, 96);
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}
h1:hover {
  transform: scale(2);
  transition: all 2s;
  color: rgb(27, 36, 48);
}
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  h1 {
    font-size: 35px;
  }
}

/*Estilo de body home*/
.main-conteiner .fondo {
  opacity: 0.8;
  height: 100vh;
  background-size: cover;
  width: 100%;
  position: absolute;
}
.main-conteiner .contenido {
  text-align: center;
}
.main-conteiner .contenido .parrafo-uno {
  position: relative;
  font-size: 50px;
  font-style: inherit;
  text-align: center;
  color: rgb(252, 249, 198);
  font-weight: bold;
  padding-top: 170px;
}
.main-conteiner .contenido .asesorate {
  width: 30%;
  background: rgb(28, 56, 121);
  border: 1px solid rgb(155, 161, 123);
  font-weight: bold;
  border-radius: 4px;
  color: rgb(155, 161, 123);
  padding: 6px;
  margin: 50px;
  position: relative;
}
.main-conteiner .img-what {
  position: relative;
  width: 80px;
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.main-conteiner .img-what:hover {
  transform: scale(1.4);
  transition: all 2s;
}

/* Body de Lotes*/
main .sect1 .p-lote {
  color: rgb(15, 52, 96);
  font-size: 25px;
  font-style: herit;
  text-align: center;
  margin-top: 5px;
}
main .sect1 .p-lote1 {
  color: rgb(15, 52, 96);
  font-size: 20px;
  font-style: herit;
  text-align: center;
  margin-top: 3px;
}
main .sect1 .p-lote2 {
  color: rgb(15, 52, 96);
  font-size: 20px;
  font-style: herit;
  text-align: center;
  margin-top: 3px;
}
main .descripcion-lote {
  display: flex;
  justify-content: space-between;
}
main .descripcion-lote .detalle {
  list-style: none;
}
main .descripcion-lote .detalle .pinche {
  height: 20px;
  width: 20px;
}
main .descripcion-lote .detalle .info {
  text-align: center;
  font-size: 20px;
  font-style: inherit;
  color: rgb(15, 52, 96);
  padding-left: 20px;
}
main .descripcion-lote .imglotes {
  width: 500px;
  padding-right: 50px;
  padding-top: 40px;
}
main .sect3 {
  text-align: center;
}
main .sect3 .p-4 {
  font-size: 30px;
  font-style: inherit;
  color: rgb(15, 52, 96);
  font-weight: bold;
}
main .sect3 .mapa {
  height: 350px;
}
main .sect4 .p-5 {
  font-size: 30px;
  font-style: inherit;
  color: rgb(15, 52, 96);
  font-weight: bold;
  text-align: center;
}

/*Estilo de body amenities*/
.main1 .amenities0 .p-amenities {
  color: rgb(15, 52, 96);
  font-size: 40px;
  font-style: herit;
  text-align: center;
  margin-top: 10px;
}
.main1 .section-amenities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 50px 30px;
}
.main1 .section-amenities .gimnasio {
  text-align: center;
  margin-top: 11px;
}
.main1 .section-amenities .gimnasio img {
  width: 250px;
}
.main1 .section-amenities .gimnasio h2 {
  color: rgb(15, 52, 96);
  font-size: 30px;
  font-style: herit;
}
.main1 .section-amenities .gimnasio p {
  color: rgb(15, 52, 96);
  font-size: 20px;
  font-style: herit;
}
.main1 .section-amenities .pileta {
  text-align: center;
}
.main1 .section-amenities .pileta img {
  width: 190px;
}
.main1 .section-amenities .pileta h2 {
  color: rgb(15, 52, 96);
  font-size: 30px;
  font-style: herit;
}
.main1 .section-amenities .pileta p {
  color: rgb(15, 52, 96);
  font-size: 20px;
  font-style: herit;
}
.main1 .section-amenities .seguridad {
  text-align: center;
}
.main1 .section-amenities .seguridad img {
  width: 155px;
}
.main1 .section-amenities .seguridad h2 {
  color: rgb(15, 52, 96);
  font-size: 30px;
  font-style: herit;
}
.main1 .section-amenities .seguridad p {
  color: rgb(15, 52, 96);
  font-size: 20px;
  font-style: herit;
}
.main1 .section-amenities .campo {
  text-align: center;
}
.main1 .section-amenities .campo img {
  width: 180px;
}
.main1 .section-amenities .campo h2 {
  color: rgb(15, 52, 96);
  font-size: 30px;
  font-style: herit;
}
.main1 .section-amenities .campo p {
  color: rgb(15, 52, 96);
  font-size: 20px;
  font-style: herit;
}
.main1 .section-amenities .panel {
  text-align: center;
}
.main1 .section-amenities .panel img {
  width: 180px;
}
.main1 .section-amenities .panel h2 {
  color: rgb(15, 52, 96);
  font-size: 30px;
  font-style: herit;
}
.main1 .section-amenities .panel p {
  color: rgb(15, 52, 96);
  font-size: 20px;
  font-style: herit;
}
.main1 .section-amenities .espacios {
  text-align: center;
}
.main1 .section-amenities .espacios img {
  width: 200px;
}
.main1 .section-amenities .espacios h2 {
  color: rgb(15, 52, 96);
  font-size: 30px;
  font-style: herit;
}
.main1 .section-amenities .espacios p {
  color: rgb(15, 52, 96);
  font-size: 20px;
  font-style: herit;
}

/*Estilo del body Galeria*/
main .sect-galeria0 .p-galeria {
  color: rgb(15, 52, 96);
  font-size: 30px;
  font-style: herit;
  text-align: center;
  margin-top: 5px;
}
main .sect-galeria1 .img-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 20px;
  padding: 50px 30px;
}
main .sect-galeria1 .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: -8px 7px 11px -1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: -8px 7px 11px -1px rgba(0, 0, 0, 0.47);
  box-shadow: -8px 7px 11px -1px rgba(0, 0, 0, 0.47);
}

/* Estilos del body de contacto*/
main .sect-contacto0 .p-contacto {
  color: rgb(15, 52, 96);
  font-size: 30px;
  font-style: herit;
  text-align: center;
  margin-top: 20px;
}
main .sect-contacto1 .p2-contacto {
  font-size: 18px;
  font-style: inherit;
  color: rgb(15, 52, 96);
  padding-top: 50px;
  padding-left: 40px;
  font-weight: bold;
}
main .sect-contacto1 .p3-contacto {
  font-size: 20px;
  font-style: inherit;
  color: rgb(15, 52, 96);
  padding-left: 80px;
  padding-top: 7px;
  padding-bottom: 40px;
}
main .form-registro {
  width: 60%;
  background: rgb(177, 215, 180);
  padding: 10px;
  margin: auto;
  border-radius: 4px;
  -webkit-box-shadow: 14px 9px 7px 0px rgb(207, 201, 207);
  -moz-box-shadow: 14px 9px 7px 0px rgb(207, 201, 207);
  box-shadow: 14px 9px 7px 0px rgb(207, 201, 207);
  font-size: 17px;
  font-style: inherit;
  color: rgb(15, 52, 96);
  font-weight: bold;
}
main .form-registro p {
  margin-bottom: 5px;
}
main .form-registro .controls {
  width: 95%;
  background: rgb(247, 246, 220);
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 6px;
  border: 1px solid rgb(155, 161, 123);
  font-size: 17px;
}
main .form-registro .controls-1 {
  width: 95%;
  background: rgb(247, 246, 220);
  padding-bottom: 80px;
  border-radius: 4px;
  margin-bottom: 6px;
  border: 1px solid rgb(155, 161, 123);
  font-size: 17px;
}
main .form-registro .botons {
  width: 22%;
  background: rgb(247, 246, 220);
  border: none;
  padding: 6px;
  margin: 10px;
}

footer .info-empresa .ubicacion, footer .info-empresa .cel, footer .info-empresa .email {
  display: flex;
  flex-direction: row;
}

footer .info-empresa .info, footer .info-empresa .ubicacion p, footer .info-empresa .email p {
  color: rgb(238, 242, 230);
  font-size: 12px;
  font-style: unset;
}

footer .info-empresa .ubicacion img, footer .info-empresa .cel img, footer .info-empresa .email img {
  height: 20px;
  width: 20px;
}

/* Mediaquery*/
/*body del index*/
@media only screen and (max-width: 450px) {
  .main-conteiner .fondo {
    width: 100%;
  }
  .main-conteiner .contenido .parrafo-uno {
    font-size: 20px;
  }
  .main-conteiner .contenido .asesorate {
    width: 50%;
    font-size: 13px;
  }
  .main-conteiner .img-what {
    width: 50px;
  }
  .main-conteiner .descripcion {
    font-size: 8px;
  }
  .main-conteiner .info p {
    font-size: 5px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .main-conteiner .fondo {
    width: 100%;
  }
  .main-conteiner .contenido .parrafo-uno {
    font-size: 25px;
  }
  .main-conteiner .contenido .asesorate {
    width: 60%;
    font-size: 15px;
  }
  .main-conteiner .img-what {
    width: 60px;
    bottom: 20px;
    right: 10px;
  }
  .main-conteiner .descripcion {
    font-size: 12px;
  }
  .main-conteiner .info p {
    font-size: 8px;
  }
}
/*Body Lotes*/
@media only screen and (max-width: 450px) {
  main .sect1 .p-lote {
    font-size: 18px;
  }
  main .sect1 .p-lote1 {
    font-size: 15px;
  }
  main .sect1 .p-lote2 {
    font-size: 15px;
  }
  main .descripcion-lote {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  main .descripcion-lote .detalle .info {
    font-size: 13px;
  }
  main .descripcion-lote .imglotes {
    align-items: center;
    padding-left: 100px;
    width: 450px;
  }
  main .sect3 .p-4 {
    font-size: 18px;
  }
  main .sect3 .mapa {
    height: 200px;
    width: 350px;
  }
  main .sect4 .p-5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  main .sect1 .p-lote {
    font-size: 22px;
  }
  main .sect1 .p-lote1 {
    font-size: 18px;
  }
  main .sect1 .p-lote2 {
    font-size: 18px;
  }
  main .descripcion-lote {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
  }
  main .descripcion-lote .detalle .info {
    font-size: 18px;
  }
  main .descripcion-lote .imglotes {
    width: 100%;
  }
  main .sect3 .p-4 {
    font-size: 22px;
  }
  main .sect3 .mapa {
    height: 250px;
    width: 300px;
  }
  main .sect4 .p-5 {
    font-size: 25px;
  }
}
/*Body Amenities*/
@media only screen and (max-width: 450px) {
  .main1 .amenities0 .p-amenities {
    font-size: 25px;
  }
  .main1 .section-amenities {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }
  .main1 .section-amenities .gimnasio h2 {
    font-size: 20px;
  }
  .main1 .section-amenities .gimnasio p {
    font-size: 15px;
  }
  .main1 .section-amenities .pileta h2 {
    font-size: 20px;
  }
  .main1 .section-amenities .pileta p {
    font-size: 15px;
  }
  .main1 .section-amenities .seguridad h2 {
    font-size: 20px;
  }
  .main1 .section-amenities .seguridad p {
    font-size: 15px;
  }
  .main1 .section-amenities .campo h2 {
    font-size: 20px;
  }
  .main1 .section-amenities .campo p {
    font-size: 15px;
  }
  .main1 .section-amenities .panel h2 {
    font-size: 20px;
  }
  .main1 .section-amenities .panel p {
    font-size: 15px;
  }
  .main1 .section-amenities .espacios h2 {
    font-size: 20px;
  }
  .main1 .section-amenities .espacios p {
    font-size: 15px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .main1 .amenities0 .p-amenities {
    font-size: 30px;
  }
  .main1 .section-amenities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
  }
  .main1 .section-amenities .gimnasio h2 {
    font-size: 25px;
  }
  .main1 .section-amenities .gimnasio p {
    font-size: 20px;
  }
  .main1 .section-amenities .pileta h2 {
    font-size: 25px;
  }
  .main1 .section-amenities .pileta p {
    font-size: 20px;
  }
  .main1 .section-amenities .seguridad h2 {
    font-size: 25px;
  }
  .main1 .section-amenities .seguridad p {
    font-size: 20px;
  }
  .main1 .section-amenities .campo h2 {
    font-size: 25px;
  }
  .main1 .section-amenities .campo p {
    font-size: 20px;
  }
  .main1 .section-amenities .panel h2 {
    font-size: 25px;
  }
  .main1 .section-amenities .panel p {
    font-size: 20px;
  }
  .main1 .section-amenities .espacios h2 {
    font-size: 25px;
  }
  .main1 .section-amenities .espacios p {
    font-size: 20px;
  }
}
/*Body Galeria*/
@media only screen and (max-width: 450px) {
  main .sect-galeria0 .p-galeria {
    font-size: 20px;
  }
  main .sect-galeria1 .img-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  main .sect-galeria0 .p-galeria {
    font-size: 25px;
  }
  main .sect-galeria1 .img-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
}
/*Contato*/
@media only screen and (max-width: 450px) {
  main .sect-contacto0 .p-contacto {
    font-size: 18px;
  }
  main .sect-contacto1 .p2-contacto {
    font-size: 15px;
  }
  main .sect-contacto1 .p-contacto3 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  main .sect-contacto0 .p-contacto {
    font-size: 25px;
  }
  main .sect-contacto1 .p2-contacto {
    font-size: 18px;
  }
  main .sect-contacto1 .p-contacto3 {
    font-size: 18px;
  }
}
/*Fotter*/
@media only screen and (max-width: 450px) {
  footer .descrip-1 .descripcion p {
    font-size: 14px;
  }
  footer .descrip-1 .redes .instagram {
    height: 30px;
  }
  footer .descrip-1 .redes .facebook {
    height: 30px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  footer .descrip-1 .descripcion p {
    font-size: 17px;
  }
  footer .descrip-1 .redes .instagram {
    height: 40px;
  }
  footer .descrip-1 .redes .facebook {
    height: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
